<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulation</title>
    <link rel="stylesheet" th:href="@{/css/JobAccepted.css}">
</head>
<body>
    <div class="container">
        <h1>Your accepted for the job</h1>
        <div class="job-list" id="jobList">
            <!-- Jobs will be dynamically inserted here -->
        </div>
        <div class="job-title" th:text="${job.getTitle}">JobTitle</div>
            <div class="job-company" th:text="${job.getCompany}">JobCompany</div>
            <div class="job-salary" th:text="${job.getSalary}">JobSalary</div>
    </div>
</body>
</html>